<launch>
  <node name="spd_controller" pkg="spd_controller" type="controller.py" output="screen"></node>
  <include file="$(find panda_moveit_config)/launch/move_group.launch" output="screen">
    <arg name="load_gripper" value="false"/>
    <arg name="load_robot_description" value="true"/>
  </include>
</launch>
